<div class="[ container ]">
  <div class="[ myComp ]">
  <div>
      <nav class="[ navbar navbar-dark bg-primary ]">
        <h4>DEFEAT YOUR OPPONENT</h4>
        <button class="[ navbar-toggler ]" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent2" aria-controls="navbarToggleExternalContent2" aria-expanded="false" aria-label="Toggle navigation">
            <img src="https://img.icons8.com/ultraviolet/40/000000/expand-arrow.png">
        </button>
      </nav>
      <div class="[ collapse div-content ]" id="navbarToggleExternalContent2">
          <div class="[ bg-white ]">
            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
            <a href="https://icons8.com/icon/53583/expand-arrow">Expand Arrow icon by Icons8</a>
          </div>
      </div>
    </div>
 </div>
</div>
