<div class="[ login ]">
  <div>
    <form [formGroup]="form" (ngSubmit)="userDetails(form.value)">
      <h5>Username</h5>
      <input  type="text" placeholder="Username" formControlName="username" /><br />
      <span class="[ errors ]" *ngIf="isUsername">Please enter a correct username</span><br />
      <h5>Password</h5>
      <input type="password" placeholder="Password" formControlName="password" /><br />
      <span class="[ errors ]" *ngIf="isPassword">Please enter a correct Password</span><br />
      <button class="btn btn-secondary loginButton" type="Submit">LOGIN</button>
    </form>
  </div>
</div>
